---
import StackIcon from "tech-stack-icons";
import FadeInSection from "../react_components/FadeInSection.tsx";
import { skillsData } from "../../data/skills.ts";
---

<FadeInSection client:visible id="skills-section">
  <div class="section-container">
    <div class="skill-header">
      <h2>Skills & Technologies</h2>
      <p>
        I have a passion for learning and mastering new technologies. Here are
        some of the skills I've acquired and am currently working on.
      </p>
    </div>
    <div class="skills-container">
      <article>
        <h3>Proficiency in</h3>
        <div class="skills-list">
          {skillsData.proficiency.map(({ name, icon, url, variant = "light" }) => (
            <figure>
              <a href={url} target="_blank" rel="noopener noreferrer">
                <StackIcon name={icon} className="icon" variant={variant} />
              </a>
              <figcaption>{name}</figcaption>
            </figure>
          ))}
        </div>
      </article>

      <article>
        <h3>Currently Learning</h3>
        <div class="skills-list">
          {skillsData.learning.map(({ name, icon, url, variant = "light" }) => (
            <figure>
              <a href={url} target="_blank" rel="noopener noreferrer">
                <StackIcon name={icon} className="icon" variant={variant} />
              </a>
              <figcaption>{name}</figcaption>
            </figure>
          ))}
        </div>
      </article>
    </div>
  </div>
</FadeInSection>

<style lang="sass">
  @use '../../styles/_variables.sass'
  .skill-header
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    gap: 24px
    margin-bottom: 40px
    p
      font-size: variables.$p-size
      color: variables.$bg-secondary
      max-width: 70%
      margin: 0 auto
  .skills-container
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    width: 100%
    padding: 20px
    gap: 40px
    article
      display: flex
      max-width: 48%
      flex-direction: column
      align-items: center
      gap: 12px
      h3
        font-weight: bold
        background-color: variables.$bg-secondary
        color: variables.$font-primary-color
        padding: 5px 20px
        border-radius: 10px
        font-size: variables.$h2-size
        margin-bottom: 20px
      .skills-list
        display: flex
        flex-wrap: wrap
        justify-content: center
        figure
          display: flex
          flex-direction: column
          align-items: center
          gap: 10px
          width: 175px
          transform-origin: center
          will-change: transform
          transition: transform 0.5s ease
          margin-bottom: 20px
          a
            width: 64px
            height: 64px
          .icon
            max-width: 64px
          figcaption
            min-width: 150px
            text-align: center
            font-size: variables.$p-size
            margin-top: 10px
          &:hover
            transform: scale(1.2)
            transition: transform 0.5s ease
            cursor: pointer
          h3
            font-weight: bold
            background-color: variables.$bg-secondary
            color: variables.$bg-primary
            padding: 5px 20px
            border-radius: 10px
            font-size: 24px
            margin-bottom: 44px
  h2
    font-weight: bold
    background-color: variables.$bg-secondary
    color: variables.$font-primary-color
    padding: 20px 20px
    border-radius: 10px
    font-size: variables.$h2-size
</style>
